/* apply a natural box layout model to all elements, but allowing components to change */
html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: Contrail One, cursive;
}

.playableBoard {
	display: grid;
	grid-template-columns: 750px 400px 750px;
	grid-template-rows: 20px 80px 80px 150px 450px;
}

.playerBoard {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	width: 750px;
	height: 750px;
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: repeat(10, 1fr);
}

.opponentBoard {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 2;
}

.statusDisplay {
	grid-row-start: 3;
	grid-column-start: 2;
	grid-column-end: 3;
	display: flex;
	flex-direction: row;
	justify-self: center;
	font-family: Contrail One, cursive;
}
.statusDisplay h1:first-of-type {
	padding-right: 25px;
}

.playableTitle {
	grid-row-start: 2;
	grid-column-start: 2;
	grid-column-end: 3;
	justify-self: center;
}

.chat {
	grid-row-start: 4;
	grid-column-start: 2;
	grid-column-end: 3;
	display: flex;
	justify-content: center;
}

.chatMessages {
	overflow: scroll;
	font-size: 1.2em;
}

input[type='submit'] {
	background-color: red;
	border: none;
	color: white;
	padding: 4px 16px;
	text-decoration: none;
	cursor: pointer;
	font-size: 1.8em;
	flex-grow: 1;
	font-family: Contrail One, cursive;
}

input[type='text'] {
	width: 100%;
	font-size: 1.2em;
}

.inputMessage {
	height: 80%;
	font-family: Contrail One, cursive;
}
.inputName {
	height: 20%;
	font-family: Contrail One, cursive;
}
.form {
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-family: Contrail One, cursive;
}

.formWrapper {
	display: flex;
	flex-direction: column;
	height: 140px;
	width: 70%;
}

.sunkShipsImgs {
	display: grid;
	grid-template-columns: 750px 400px 750px;
	grid-template-rows: 150px;
}

.sunkShipsOpp {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 1;
}

.sunkShipsPlayer {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
}

.hoverWrapper {
	position: relative;
}

.reticle {
	max-width: 75px;
	max-height: 75px;
}

.coordinates {
	position: absolute;
	top: 35%;
	left: 40%;
}

.shipsOnPlayerBoard {
	width: 75px;
	height: 75px;
	font-family: Contrail One, cursive;
}

/* unvisited link */
a:link {
	color: black;
}

/* visited link */
a:visited {
	color: black;
}

/* mouse over link */
a:hover {
	color: dimgray;
}

/* selected link */
a:active {
	color: black;
}

.oppShipPlacementMessage {
	display: flex;
	padding-left: 20%;
	padding-right: 20%;
}
